<!-- LOGIN dialog -->
<ngx-loading [show]="loading"></ngx-loading>
<div *ngIf="isSignInDialog">
<div class="center">
  <div class="container">
      <div class="row">
        <h2 style="text-align:center">User Sign In</h2>
        <div class="vl">
          <span class="vl-innertext">or</span>
        </div>
  
        <div class="col">
          <button mat-button class="google btn" (click)="redirectToGoogleLogin()">
            <mat-icon >group</mat-icon>
            Login with Google+
          </button>
          <button mat-button class="facebook btn" (click)="redirectToFaceBookLogin()">
            <mat-icon >face</mat-icon>
            Login with FaceBook
          </button>
        </div>
  
        <div class="col">
          <mat-form-field appearance="standard" class="fullWidth">
            <mat-label>Email-ID</mat-label>
            <input #username matInput placeholder="Email-ID" required>
          </mat-form-field>
          <mat-form-field appearance="standard" class="fullWidth">
            <mat-label>Password</mat-label>
            <input #password type="password" matInput placeholder="Password" required>
          </mat-form-field>
          <mat-error *ngIf="hasErrorMsg()">{{errorMsg}}</mat-error>
          <button mat-button class="login btn" (click)="login()">
            <mat-icon >person</mat-icon>
            Sign In
          </button>
        </div>  
      </div>
  </div>
  
  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <button mat-button class="plainbtn" (click)="registerUser()">
          <mat-icon>person_add</mat-icon>
          Sign Up
        </button>
      </div>
      <div class="col">
        <button mat-button class="plainbtn" (click)="forgotUser()">
          <mat-icon >mood_bad</mat-icon>
          Forgot Password
        </button>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Register dialog-->
<div *ngIf="isSignUpDialog">
  <div class="center">
    <div class="container">
        <div class="row">
          <h2 style="text-align:center">User Sign Up</h2>
          <div class="vl-Signup"></div>
                
          <div class="col">
            <mat-form-field appearance="standard" class="fullWidth">
              <mat-label>First Name</mat-label>
              <input #reg_fname matInput placeholder="First Name" required>
              </mat-form-field>
              <mat-form-field appearance="standard" class="fullWidth">
                <mat-label>Last Name</mat-label>
                <input #reg_lname matInput placeholder="Last Name" required>
              </mat-form-field>
              <mat-form-field appearance="standard" class="fullWidth">
                <mat-label>Email-ID</mat-label>
                <input #reg_email matInput placeholder="Email-ID" required>
              </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field appearance="standard" class="fullWidth">
              <mat-label>Password</mat-label>
              <input #reg_pass1 type="password" matInput placeholder="Password" required>
            </mat-form-field>
            <mat-form-field appearance="standard" class="fullWidth">
              <mat-label>Retype Password</mat-label>
              <input #reg_pass2 type="password" matInput placeholder="Password" required>
            </mat-form-field>
            <mat-form-field appearance="standard" class="fullWidth">
              <mat-label>Mobile Number</mat-label>
              <input #reg_mobile matInput placeholder="10-digit Mobile Number" >
            </mat-form-field>
          </div>  
        </div>
        <div class="row" style="text-align:center">
          <mat-error *ngIf="hasErrorMsg()">{{errorMsg}}</mat-error>
        </div>
    </div>
    
    <div class="bottom-container">
      <div class="row">
          <button mat-button class="plainbtn" (click)="register()">
            <mat-icon>person_add</mat-icon>
            Register
          </button>
      </div>
    </div>
    </div>
  </div>


  <!-- Forgot Password dialog -->
  <div *ngIf="isForgotDialog1">
    <div class="center">
      <div class="container">
          <div class="row">
            <h2 style="text-align:center">Forgot Password</h2>
            <mat-form-field appearance="outline" class="fullWidth">
              <mat-label>Email-ID</mat-label>
              <input #forget_email matInput placeholder="Email-ID" required>
            </mat-form-field>
            <mat-error *ngIf="hasErrorMsg()">{{errorMsg}}</mat-error>
            <button mat-button class="login btn" (click)="sendCode()">
              <mat-icon >verified_user</mat-icon>
              Send Verification Code
            </button>
          </div>
      </div>
    </div>
  </div>

  <div *ngIf="isForgotDialog2">
    <div class="center">
      <div class="container">
          <div class="row">
            <h2 style="text-align:center">Forgot Password</h2>
            <mat-form-field appearance="outline" class="fullWidth">
              <mat-label>Verification Code</mat-label>
              <input #forget_code matInput placeholder="Enter Verification Code sent to Email" required>
            </mat-form-field>
            <mat-form-field appearance="standard" class="fullWidth">
              <mat-label>New Password</mat-label>
              <input #forgot_password type="password" matInput placeholder="Enter New Password" required>
            </mat-form-field>
            <mat-error *ngIf="hasErrorMsg()">{{errorMsg}}</mat-error>
          </div>
      </div>

      <div class="bottom-container">
        <div class="row">
            <button mat-button class="plainbtn" (click)="updatePassword()">
              <mat-icon>lock</mat-icon>
              Update Password
            </button>
        </div>
      </div>
    </div>
  </div>