
<mat-toolbar class="toolBarColor">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="toggle()">menu</mat-icon>
    </button>
    <h1>{{appName}}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/about'"> About </a>
    </div>
    <!-- fill up spaces in-between -->
    <span class="spacer"></span>
    <button mat-button (click)="cart()" matBadge={{this.userSerive.cartItems.length}} matBadgePosition="before">
      <mat-icon>shopping_cart</mat-icon>
      cart
    </button>
    <span class="menu-spacer"></span>
    <app-login-dialog></app-login-dialog>
  </mat-toolbar-row>
</mat-toolbar>